// 主题颜色
$themeBg: #2A4456;
// base color
$textColor: #E7E083;
// 颜色变量
$color-blue-100: rgba(0, 17, 104, 1);
$color-blue-80: rgba(0, 17, 104, 0.8);
$color-blue-60: rgba(0, 17, 104, 0.6);
$color-blue-40: rgba(0, 17, 104, 0.4);
$color-blue-20: rgba(0, 17, 104, 0.2);
$color-blue-10: rgba(0, 17, 104, 0.1);

$color-golden-100: rgba(231, 224, 131, 1);
$color-golden-80: rgba(231, 224, 131, 0.8);
$color-golden-60: rgba(231, 224, 131, 0.6);
$color-golden-40: rgba(231, 224, 131, 0.4);
$color-golden-20: rgba(231, 224, 131, 0.2);
$color-golden-10: rgba(231, 224, 131, 0.1);
$color-golden-rose: linear-gradient(135deg, #E7E083 0%, #99893E 100%);

//边框变量
$border-black-100: rgba(0, 0, 0, 1);
$border-black-80: rgba(0, 0, 0, 0.8);
$border-black-60: rgba(0, 0, 0, 0.6);
$border-black-40: rgba(0, 0, 0, 0.4);
$border-black-20: rgba(0, 0, 0, 0.2);
$border-black-10: rgba(0, 0, 0, 0.1);

//文本字体变量
$text-color-zy: rgba(43, 44, 47, 1);
$text-color-cy: rgba(96, 97, 103, 1);
$text-color-fz: rgba(143, 146, 151, 1);
$text-color-rfz: rgba(143, 146, 151, 0.8);
$text-error-normal: #F54645;
$text-error-hover: #EB3737;
$text-waring-normal: #EB9F2E;
$text-waring-hover: #E09322;
$text-success-normal: #67C23B;
$text-success-hover: #5AB72D;

$color-white: #ffffff;




// sidebar
$sideBarWidth: 180px;

$menuText:#E7E083;

$menuHover:rgba(0,0,0,0.20);




// 导出变量用于 js
:export {
  themeBg: $themeBg;
  textColor: $textColor;
};
